#!/bin/bash

LDAP_URI="ldap://{{ ldap_server_list[0] }}:{{ ldap_port }}"
BASE_DN="{{ ldap_root }}"
READER_LOGIN="cn={{ ldap_readonly_username }},{{ ldap_root }}"
READER_PASSWORD="{{ ldap_readonly_password }}"

SSH_USER=$1

KEY=$(ldapsearch -D "${READER_LOGIN}" -w "${READER_PASSWORD}" -LLL -o ldif-wrap=no -c -H "${LDAP_URI}" -b "${BASE_DN}" -S sshPublicKey "(&(uid=${SSH_USER})(sshPublicKey=*))" sshPublicKey | grep -v 'dn:' | perl -pe 's/sshPublicKey: //;')

echo "${KEY}"
