# /etc/nslcd.conf
# nslcd configuration file. See nslcd.conf(5)
# for details.

# The user and group nslcd should run as.
uid nslcd
gid nslcd

# The location at which the LDAP server(s) should be reachable.
uri {% for address in ldap_server_list %}ldap{%if ldap_enable_tls == 'yes'%}s{%endif%}://{{ address }}:{%if ldap_enable_tls == 'yes'%}{{ ldaps_port }}{%else%}{{ ldap_port }}{%endif%}/ {% endfor %}

# The search base that will be used for all queries.
base {{ ldap_root }}

# The LDAP protocol version to use.
#ldap_version 3

# The DN to bind with for normal lookups.
binddn cn={{ ldap_readonly_username }},{{ ldap_root }}
bindpw {{ ldap_readonly_password }}

# The DN used for password modifications by root.
#rootpwmoddn cn=admin,{{ ldap_root }}

# SSL options
ssl off
#tls_reqcert never
#tls_cacertfile /etc/ssl/certs/ca-certificates.crt

# The search scope.
#scope sub
